<form name="loginForm" ng-controller="LoginController as ctrl" ng-submit="loginForm.$valid && ctrl.login(username, password)">
	<p ng-if="loginForm.username.$error.required"> You did not enter a username</p>
	<p ng-if="ctrl.loginFailed"> Your username and password combination is invalid</p>
	<div class="field">
		<label>Username: </label>
		<input type="text" ng-model="username" name="username" required />
	</div>
	<div class="field">
		<label>Password: </label>
		<input type="password" ng-model="password" name="password" required />
		<div ng-if="loginForm.password.$error.required">You did not enter a password</div>
	</div>
</form>